{% extends "base_generic.html" %}

{% block content %}
    <h1 class='display-3'>Local Library Home</h1>
    <p class='lead'>Welcome to LocalLibrary, a website developed by <em>Mozzilla Developer Network</em>!</p>
    <h1 class='display-5'>Dynamic content</h1>
    <p class='lead'>The library has the following record counts:</p>
    <ul class='list-unstyled'>
        <li><strong>Books:</strong> {{num_books}}</li>
        <li><strong>Copies:</strong> {{num_instances}}</li>
        <li><strong>Copies available:</strong> {{num_instances_available}}</li>
        <li><strong>Authors:</strong> {{num_authors}}</li>
        <li><strong>Genres:</strong> {{num_genres}}</li>
    </ul>

    <p class='lead'>You have visited this page {{num_visits}}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock %}