{% extends "base_generic.html" %}

{% block content %}

{% load crispy_forms_tags %}

<section class='vh-100'>
  <div class='container py-5 h-100'>
    <div class='row d-flex align-items-center justify-content-center h-100'>
      <div class='col-md-8 col-lg-7 col-xl-6'>
        <img src="/static/img/login_image.jpg" class='img-fluid' alt='Bookstore Image'>
      </div>

      <div class='col-md-7 col-lg-5 col-xl-5 offset-xl-1'>
        
        {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
        {% else %}
          <h5 class='fw-normal mb-3 pb-3' style='letter-spacing: 1px;'>Please login to see this page.</h5>
        {% endif %}
        {% endif %}

      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class='form-outline mb-4'>
          
            {{ form.username|as_crispy_field }}
            <!--{{ form.username.label_tag }}-->
          </div >
          
          <div class='form-outline mb-4'>
            <!--{{ form.password.label_tag }}-->
            {{ form.password|as_crispy_field }}
          </div>
         
        <input class='btn btn-primary btn-lg btn-block' type="submit" value="Sign In" />
        <input type="hidden" name="next" value="/" />

        <div class='divider d-flex align-items-center my-4'>
          <p class='text-center fw-bold mx-3 mb-0 text-muted'>Not registered?</p>
        </div>

        <a class='btn btn-secondary btn-lg btn-block' href="{% url 'register' %}">Sign Up</a>
     
        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a class='small text-muted' href="{% url 'password_reset' %}">Forgot password?</a></p>
      </form>
      </div>
    </div>
  </div>
</section>

  
{% endblock %}