{% extends "base_generic.html" %}

{% block content %}
<h1 class='display-4'>Author List</h1>
{% if author_list %}
    <ul class='list-unstyled'>
        {%for author in author_list%}
        <li>
            <a href="{{author.get_absolute_url}}">{{author.last_name}}, {{author.first_name}} ({{author.date_of_birth}} - {% if author.date_of_death %} {{author.date_of_death}} {% endif %})</a>
        </li>
        {% endfor %}
    </ul>
    {%else%}
        <p>There are no authors in the catalog</p>
    {%endif%}

    {% if user.is_staff%}
    <a class='btn btn-primary btn-sm' href="{% url 'author_create' %}">Author Create</a>
    {% endif %}
{% endblock %}