{% extends "base_generic.html" %}

{% block content %}
<h1 class='display-4'>Book List</h1>
{% if book_list %}
    <ul class='list-unstyled'>
        {%for book in book_list%}
        <li>
            <a href="{{book.get_absolute_url}}">{{book.title}}</a> ({{book.author}})
        </li>
        {% endfor %}   
        
    </ul>
        {% if user.is_staff %}
            <a class='btn btn-primary btn-sm' href="{% url 'create-book'%}">Register a Book</a>
        {% endif %}
    {%else%}
        <p>There are no books in the library</p>
    {%endif%}
{% endblock %}